{% extends 'blog/main.html' %}
{% load crispy_forms_tags %}

{% block title %} {{title}}Профиль пользователя{% endblock %}

{% block main_section %}
<div class="form-section">
    <h2>Кабинет пользователя</h2>
    <div class="media text-muted pt-3">
        <!--        <svg class="bd-placeholder-img mr-2 rounded" width="64" height="64" xmlns="http://www.w3.org/2000/svg"-->
        <!--             preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>-->
        <!--            Placeholder</title>-->
        <!--            <rect width="100%" height="100%" fill="#007bff"></rect>-->
        <!--            <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>-->
        <!--        </svg>-->
        <img class="bd-placeholder-img mr-2 rounded" width="64" height="64" src="{{user.profile.img.url}}"
             alt="user_avatar">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">@{{user.username}}</strong>
            <b>Email:</b> {{user.email}}
        </p>
    </div>
    <h3 class="mt-3">Изменить данные пользователя</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{update_user|crispy}}
        {{img_profile|crispy}}
        <button type="submit" class="btn btn-outline-warning">Обновить данные</button>
    </form>
</div>
{% endblock main_section %}

<!--aside_news_section-->
{% block aside_news_section %}
<h3><b>10 лучших книг по программированию</b></h3>
<img src="https://itproger.com/img/news/1487168862.jpg" class="img-thumbnail mb-1" alt="news">
<p>Существует масса книг по программированию, но только небольшая их часть действительно является полезной и не
    стареющей с годами. Вот о них и пойдет речь!

    Книги по программированию это достаточно сложный материал, который не так уж просто читать. Поэтому чтобы получить
    максимальную пользу из книг по программированию необходимо выбирать правильных авторов и правильные книги.

    В видео ролике ниже рассказывается про 10 лучших книг по программированию, а также их небольшое описание, чтобы вы
    могли выбрать что конкретно хотели бы почитать.</p>
<a href="https://itproger.com/news/20" target="_blank">
    <button class="btn btn-warning">Посмотреть</button>
</a>
{% endblock aside_news_section %}
<!--aside_news_section-->
